body, html {
    height: 100%;
    margin: 0;
    background-image: url("biljeznica.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
* {
    box-sizing: border-box;
  }
 
  
  .meni {
    width: 20%;
    float: left;
    padding: 15px;
    border: 5px solid rgb(65, 36, 145);
  }
  
  .sredisnji {
    width: 60%;
     float: left;
    padding: 15px;
    border: 5px solid rgb(65, 36, 145);
  }

#navigacija{    
    padding: 0rem 1rem;
}

ul{
    float: left;
    list-style: none;
}
li{
    text-shadow: 0 0 10px white;
}
.wrapper-main{
    padding-top: 200px;
    width: 300px;
    margin: 0 auto;
}
.wrapper-main2{
    padding-top: 150px;
    width: 85%;
    margin: 0 auto;
}
.pozdrav{
    text-align: center;
    display: inline-block;
}
#login_out_upozorenje{
        color: #3c3e92;
}
#login_out_upozorenje2{
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right:40rem;
    text-shadow: 0 0 3px white;
}
#signupbutton{
    color: #a0a2c9;
    text-decoration: none;
    margin-top: 2rem;
    margin-left: 0.5rem;    
}
a#signupbutton:hover{
    background-color: rgb(23, 162, 184);
    text-shadow: 0 0 10px rgb(255, 255, 255);
    color: mintcream;
    border-radius: 2px;
}
.wrapper-main{
    margin-top: 10px;
}
a.nav-link.active{
    color: seashell;
    padding: 0.5rem 0rem 0.5rem 1rem;
}
li:hover{
    text-shadow: 0 0 20px white;
    font-size: large;
}
.form-inline{
    margin-block: 3px;
}
input.form-control.mr-sm-2{
    margin-top: 3px;
}
.signup-form-button{
    color: #3c3e92;
}

/* .form-group{
margin-left: 5px;
} */
/* .btn.btn-light{
    margin: 0px 0px 5px 200px;
}
.sigup_form_button{
    margin-left: 5px;
} */
