body, html {
    height: 100%;
    margin: 0;
}    
* {box-sizing: border-box;}

 .prvaPoz{  
    background-image: url("biljeznica.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.drugaPoz{  
    background-image: url("biljeznica3.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.trecaPoz{  
    background-image: url("treca.png");
    height: 100%; 
    background-position: center;
    background-size: contain;
}

.meniLijevo {
    width: 20%;
    float: left;
    padding: 40px;
  }

.okvir_upozorenja{
    width: 12px;
    float: inline-end;
    margin-right: 55px;

}
img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
#upozorenje{
    margin-bottom: 3px;
    padding: 0px 8px;
    border-radius: 13px;
    border-color: rgb(255, 255, 255);
}
#upozorenje2{
    margin-bottom: 3px;
    padding: 1px 8px;
    border-radius: 13px;
    border-color: rgb(255, 255, 255);
    float: right;
}

#upozorenje3{
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 3px;
    padding: 1px 8px;
    border-radius: 13px;
    border-color: rgb(255, 255, 255);
    float: right;
}

#upozorenjeOb{
    margin-bottom: 3px;
    padding: 0px 8px;
    border-radius: 13px;
    border-color: rgb(255, 255, 255);
}
#infoTestGumb{
    color: #f3db65;
}
#infoPodsjGumb {
    margin-left: 16px;
    color: #22211e;
}
#infoProfGumb {
    margin-left: 16px;
    color: #040e10
}

#sveOkoUpozorenja{
    float: left;
}
#sveOkoUpozorenja2{
    float: left;
    margin-right: 25px;
}
#okoUpozorenja{
    float: right;
    margin-left: 3px;
}
#plus{
    margin: -2px 2px -1px 0px;
    border-color: #dc3545;
    
}
#plus2{
    margin: -2px 2px -1px 0px;}

#plus3{margin-top: 25px;}
#plus4{
    margin-top: 20px; margin-left: -5px;
}

#plusGumb{
    padding: 0px 5px;
    font-weight: bold;
    width: 1.4rem;
    height: 1.4rem;
    margin-left: 2px;
    font: icon;
}

#testoviPadajuci{
    margin-top: -45px;
}

#maliG{
    padding: 0px;
    width: 50%;
}
.meniDesno {
    width: 20%;
    float: right;
    padding: 15px 0px 15px 75px;
    margin-top: 25px;
  }
/* #grupaDesno{
    float: right;
} */

#sredisnji {
    width: 55%;
    float: left;
    padding-bottom: 0px;
    margin-left: 35;
}

.btn.btn-lg.desno{
    border-top-right-radius: 15px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 50px;
    margin-bottom: 50px;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,2.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} 

.btn.btn-lg.lijevo{
    border-top-right-radius: 5px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 5px;
    margin-bottom: 50px;
    margin-right: 15px;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,2.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: initial;
} 

#navigacija{    
    padding: 0rem 1rem;
}

ul{
    float: left;
    list-style: none;
}
li{
    text-shadow: 0 0 10px white;
}
.bezDonje {
    margin-bottom: 0px;
}
.wrapper-main{
    padding-top: 215px;
    width: 300px;
    margin: 0 auto;
}
.wrapper-main2{
    padding-top: 50px;
    width: 90%;
    margin: 0 auto;
}
.pozdrav{
    text-align: center;
    display: inline-block;
}
#login_out_upozorenje{
        color: #3c3e92;
}
#login_out_upozorenje2{
    color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right:auto;
    text-shadow: 0 0 3px white;
}
#signupbutton{
    color: #a0a2c9;
    text-decoration: none;
    margin-top: 2rem;
    margin-left: 0.5rem;    
}
a#signupbutton:hover{
    background-color: rgb(23, 162, 184);
    text-shadow: 0 0 10px rgb(255, 255, 255);
    color: mintcream;
    border-radius: 2px;
}

.btn.btn-outline-info.my-2.my-sm-0
{
    padding-top: 2px;
    padding-bottom: 2px;
}

a.nav-link.active{
    color: seashell;
    padding: 0.5rem 0rem 0.5rem 1rem;
}
li:hover{
    text-shadow: 0 0 20px white;
    font-size: large;
}
#logOutGumb{
    display: contents;
}
input.form-control.mr-sm-2{
    margin-top: 3px;
}
.signup-form-button{
    color: #3c3e92;
}
 /* The popup form - po defaultu skriveno */
  .form-popup {
    display: none;
    position: fixed;;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* stilovi za kontejner */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    margin-bottom: 0px;
  }
  
  /* širina polja */
  .form-container input[type=date], .form-container input[type=tekst] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  /* Stilovi gumba */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    margin-left: 40px;
  }
  
  /* crvena za odustani */
  .form-container .cancel {
    background-color: red;
  }
  
  /* hover efekti */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

.izbor {
    word-wrap: normal;
    margin-left: 10px;
    margin-right: 45px;
}
.izbor2 {
    word-wrap: normal;
    width: 100%;
}

#tablica{
    margin-bottom: 0px;
}

table.table-bordered{
    border:4px solid rgb(60, 93, 131);
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:2px solid rgb(60, 93, 131);
}
table.table-bordered > tbody > tr > td{
    border:2px solid rgb(60, 93, 131);
}
table.table-bordered > tbody > tr > td{
    border:2px solid rgb(60, 93, 131);
}

#retci_tablice{
    border:2px solid rgb(60, 93, 131);
}
#c1 {
    background-color: rgb(163, 209, 216);
}
#c2 {
    background-color: rgb(221, 175, 180);
}
#c3 {
    background-color: rgb(213, 193, 132);
}
#c4 {
    background-color: rgb(221, 175, 180);
}
#c5 {
    background-color: rgb(126, 182, 139);
}

#slobunos{
    width: 111px;
    height: 25px;
}


/* .form-group{
margin-left: 5px;
} */
/* .btn.btn-light{
    margin: 0px 0px 5px 200px;
}
.sigup_form_button{
    margin-left: 5px;
} */

/* The popup form - po defaultu skriveno */

  
  /* stilovi za kontejner */
  .form-container2 {
    background-color: white;
    margin-bottom: 0px;
  }
  
  /* širina polja */
  .form-container2 input[type=date], .form-container2 input[type=tekst] {
    background: #f1f1f1;
  }

  /* Stilovi gumba */
  .form-container2 .btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    margin-left: 40px;
  }
  
  /* crvena za odustani */
  .form-container2 .cancel {
    background-color: red;
  }
  
  /* hover efekti */
  .form-container2 .btn:hover, .open-button:hover {
    opacity: 1;
  }

#slobunos2{
    width: 150px;
    height: 25px;
}

#raspored-forma{
    top: 50px;
    left: 360px;
}
#obavijest{
    float: right;
    margin-right: 10px;
}
#obavijest2{
    float: right;
    margin-left: 10px;
}
#padajuciTest {
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#podsjPadajuci{
    margin-top: -40px;
    margin-bottom: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#redni_broj{
    width: 40px;
}

#info{
    margin-left: 125px;
    bottom: 0px;
}
#gumbInfo{
    margin-top: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#infoTablicaIzgled{
    float: left;
    padding-bottom: 20px;
    margin-bottom: 0px;
    bottom: 10px;
    left: 250px;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,2.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: max-content;
}
#infoUcitPada{
    margin-bottom: -350;
    margin-left: 200px;
}

#prosjekTablica{
    position: inherit;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    z-index: 1;
    margin-top: -35;
    width: max-content;
}

#ocjena {
    right: 10px;
    margin-top: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#maliProsjek{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position: relative;
    margin-top: -30px;
    margin-left: 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 5px;
    background-color: #208036;
    border-color: #4c6b53;
    color: #6cff8d;
}
#maliProsjek2{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: -5px;
    margin-left: 50px;
    border-top-right-radius: 5px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 5px;
    background-color: #1a6b2d;
    border-color: #165e27;
    color: #53fe7b;
}

#prosjekGumb{
    margin-right: 0;
}
/* #zaPop
{
    margin-left: 5px;
    
} */

.footer {
    position: fixed;
    left: 5px;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: rgb(204, 200, 200);
    text-align: left;
    height: 15px;
 }
